<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  </head>
  <body>
    <div class="container-fluid" th:fragment="menu_lateral">
    	<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-list">
            <li class="nav-header">Hotel</li>
            <li><a href="/EMotelWeb/admin/hotel/registrar">Registrar Hotel</a></li>
            <li><a href="/EMotelWeb/admin/hotel/listar">Listar Hoteles</a></li>
          </ul>
          <ul class="nav nav-list">
            <li class="nav-header">Tipo Hotel</li>
            <li><a href="/EMotelWeb/admin/tipohotel/registrar">Registrar</a></li>
            <li><a href="/EMotelWeb/admin/tipohotel/listar">Listar</a></li>
          </ul>
          <ul class="nav nav-list">
            <li class="nav-header">Restaurante</li>
            <li><a href="/EMotelWeb/admin/restaurante/registrar">Registrar Restaurante</a></li>
            <li><a href="/EMotelWeb/admin/restaurante/listar">Listar</a></li>
          </ul>
          <ul class="nav nav-list">
            <li class="nav-header">Reservas</li>
            <li><a href="/EMotelWeb/admin/reserva/listar">Listar</a></li>
          </ul>
        </div>    
    </div>
  </body>
</html>