<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Home</title>


  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  

  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/landing-page.min.css" rel="stylesheet">
  
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


</head>

<body>

  <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container text-left">
        <div>
          <a class="navbar-brand text-left" href="/EMotelWeb" id="Home">EMotel</a>
		  <a class="navbar-brand" href="/EMotelWeb/login" id="IniciarSesion">Iniciar Sesion</a>
		  <a class="navbar-brand" href="/EMotelWeb/usuario/registrar" id="Registrarse">Registrarse</a>
        </div>
        
      </div>
    </nav>
	
	
  <header class="masthead text-white text-center">
    
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Los mejores hoteles y restaurantes al alcance de tus manos!</h1>
        </div>
      </div>
    </div>
  </header>


  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Reservas online</h3>
            <p class="lead mb-0">EMotel permite realizar reservas en cualquier lugar del mundo</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Busqueda por filtro</h3>
            <p class="lead mb-0">Puedes buscar los hoteles y restaurantes que se adecuen a tus posibilidades</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Facil de usar</h3>
            <p class="lead mb-0">Entorno facil de usar</p>
          </div>
        </div>
      </div>
    </div>
  </section>

 
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/hotel1.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text text-justify">
          <h2>Orlando-EEUU</h2>
          <p class="lead mb-0">Los huéspedes que buscan exclusividad pueden sumergirse en el ambiente discreto y distinguido del mejor boutique hotel de lujo en el centro de sevilla, que cuenta con 12 espectaculares habitaciones y suites de ensueño.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/restaurante1.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text text-justify">
          <h2>Casal de Armal-España</h2>
          <p class="lead mb-0">El local, inaugurado en el verano de 2004, ofrece cocina tradicional con toques de modernidad. El restaurante aprovecha los productos de la zona ( excelentes carnes, salazones, pulpo, productos de la huerta, pescados de la cercana ría de Vigo…) combinándolos con nuevos sabores y texturas.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/hotel2.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text text-justify">
          <h2>Hotel Anis-España</h2>
          <p class="lead mb-0">el Hotel Anis es uno de los hoteles de la Costa Azul que mejor responden a las exigencias del huésped con confort y servicios de primera calidad. Se encuentra a 2 km del aeropuerto y de la autopista, y posee un amplio aparcamiento de automóviles, verdadero lujo en una ciudad como Niza.</p>
        </div>
      </div>
	  <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/restaurante2.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text text-justify">
          <h2>La Parrilla-Peru</h2>
          <p class="lead mb-0">Los productos que se ofrecerán en el restaurant  son principalmente dos  alimentos y bebidas el restaurante estará abierto para comida y cena el lugar estará dividida en 2 áreas  una de ellas estará ambientada de una forma juvenil y divertida mientras que la otra se le dará un enfoque más familiar de esa forma estaremos abarcando 2 mercados diferentes.</p>
        </div>
      </div>
    </div>
  </section>


  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Acerca de los creadores</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="https://intranet.upc.edu.pe/Programas/IMAGEN/FOTOS/UPC/0540201619752.jpg" alt="">
            <h5>Luis Ortiz</h5>
            <p class="font-weight-light mb-0">"Excelente aplicacion"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="https://intranet.upc.edu.pe/Programas/IMAGEN/FOTOS/UPC/0540201619754.jpg"  alt="">
            <h5>Alvaro Poma</h5>
            <p class="font-weight-light mb-0">"La mejor app web para buscar hoteles"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="https://intranet.upc.edu.pe/Programas/IMAGEN/FOTOS/UPC/0540201614682.jpg" alt="">
            <h5>Rodrigo Lara</h5>
            <p class="font-weight-light mb-0">"Muy util para viajes"</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


</body>

</html>
