<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="VisorSystemSuite" parallel="tests">

	<test name="CategoriaWebDriverTestChrome">

		<parameter name="navegador" value="chrome" />
		<classes>
			<class
				name="pe.com.test.system.testCase.MantenimientoCategoria" />
		</classes>
	</test>

	<test name="CategoriaWebDriverTestFirefox">

		<parameter name="navegador" value="firefox" />
		<classes>
			<class
				name="pe.com.test.system.testCase.MantenimientoCategoria" />
		</classes>
	</test>

</suite> 
