<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Editar Hotel</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/dashboard.css" rel="stylesheet" />

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div th:replace="fragments/admin/menu_superior :: menu_superior"></div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div th:replace="fragments/admin/menu_lateral :: menu_lateral"></div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header" id="TituloHotelEditar" >Editar Hotel</h1>

          <form method="post" th:object="${hotel}" action="/admin/hotel/guardar" name="formulario">
          <input type="hidden"  th:field="*{id}">
          	<div class="form-group">
              <label>Nombre</label>
              <input th:field="*{nombre}" type="text" class="form-control" id="HotelNombre" placeholder="nombre" name="nombre"/>
              <p class="text-danger" id = "nom"></p>
            </div>
            <div class="form-group">
              <label>Precio</label>
              <input th:field="*{precio}" type="number" class="form-control" id="HotelPrecio" step="any" min=0.0 name="precio"/>
              <p class="text-danger" id = "pre"></p>
            </div>
            <div class="form-group">
              <label>Ubicacion</label>
              <input th:field="*{ubicacion}" type="text" class="form-control" id="HotelUbicacion" placeholder="ubicacion" name="ubicacion"/>
              <p class="text-danger" id = "ubica"></p>
            </div>
            <div class="form-group">
              <label>Tipo de Hotel</label>
              <select id="HotelTipoHotel" th:field="*{tipohotel}"  class="form-control" name="tipohotel">
              	<option th:each="t : ${listado1}" th:value="${t.id}" th:text="${t.nombre}" ></option>
              </select>
              <p class="text-danger" id = "tipoho"></p>
            </div>
            <div class="form-group">
              <label>Distrito</label>
              <select id="HotelDistrito" th:field="*{distritos}" class="form-control" name="distrito">
              	<option th:each="d : ${listado2}" th:value="${d.id}" th:text="${d.nombre}" ></option>
              </select>
              <p class="text-danger" id = "dist"></p>
            </div>
            <button id = "GuardarHotel" type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
<script>

	(function(){

		var vacio = "El elemento no puede estar vacio";
		var cantidad = "El elemento debe ser mayor a 1.00";
		var nulo = "Debes seleccionar una opcion";
		var form = document.getElementsByName("formulario")[0],
		elementos = form.elements,
		boton =  document.getElementById("boton");

		var validarNombre = function(e){
			if(form.nombre.value == 0){
				document.getElementById("nom").innerHTML = vacio;
				e.preventDefault();
			}else{
				document.getElementById("nom").innerHTML = "";
			}
		};

		var validarPrecio = function(e){
			if(form.precio.value < 1){
				document.getElementById("pre").innerHTML = cantidad;
				e.preventDefault();
			}else{
				document.getElementById("pre").innerHTML = "";
			}
		};

		var validarUbicacion = function(e){
			if(form.ubicacion.value == 0){
				document.getElementById("ubica").innerHTML=vacio;
				e.preventDefault();
			}else{
				document.getElementById("ubica").innerHTML="";
			}
		};

		var validarTipoHotel = function(e){
			if(form.tipohotel.SELECT == false){
				document.getElementById("tipoho").innerHTML = nulo;
				e.preventDefault();
			}else{
				document.getElementById("tipoho").innerHTML = "";
			}
		};
		
		var validarDistrito = function(e){
			if(form.distrito.SELECT == false){
				document.getElementById("dist").innerHTML = nulo;
				e.preventDefault();
			}else{
				document.getElementById("dist").innerHTML = "";
			}
		};
		var validar = function(e){
			validarNombre(e);
			validarPrecio(e);
			validarUbicacion(e);
			validarTipoHotel(e);
			validarDistrito(e);
		};
		
		form.addEventListener("submit", validar);
	}())

 	</script>
  </body>
</html>